In [3]:
import pandas as pd
import geopandas as gpd
import json

# first

In [2]:
bldg_path = './00_final_bldgs_key.geojson'
biz_path = './01_biz_bldgs.geojson'

In [20]:
bldg = gpd.read_file(bldg_path)

In [23]:
target_crs = 'EPSG:4326'
bldg = bldg.to_crs(target_crs)

In [24]:
bldg['center'] = bldg.geometry.centroid

C:\Users\MOTHERSHIP\AppData\Local\Temp\ipykernel_28076\2547356295.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  bldg['center'] = bldg.geometry.centroid

In [25]:
bldg['center_x'] = bldg['center'].x
bldg['center_y'] = bldg['center'].y

In [26]:
bldg = bldg.drop(columns='center')

In [27]:
bldg_df = bldg.drop(columns='geometry')

In [28]:
bldg_df.head(10)

,STYLE1,SQFT,STYLE2,BLDG_ID,sectorid,state_clas,center_x,center_y
0,NaN,18575.819150,NaN,103,1,X1,-95.353524,29.766378
1,NaN,5670.390975,COMMERCIAL,120,1,F1,-95.354821,29.768035
2,UNDER 5000SF,1571.235171,MULTIFAMILY,123,1,B1,-95.357192,29.766460
3,NaN,36231.895744,MULTIFAMILY,188,1,B1,-95.353915,29.767871
4,UNDER 5000SF,2162.464526,COMMERCIAL,246,1,C2,-95.354085,29.768316
5,UNDER 5000SF,681.086577,COMMERCIAL,305,1,F1,-95.353675,29.768667
6,UNDER 5000SF,640.652788,COMMERCIAL,308,1,F1,-95.356518,29.767035
7,UNDER 5000SF,1777.219873,NaN,317,1,A1,-95.352633,29.769205
8,NaN,18883.036085,NaN,321,1,X1,-95.354374,29.766144
9,UNDER 5000SF,4612.387553,COMMERCIAL,323,1,F1,-95.355216,29.767823

In [29]:
bldg_df.to_csv('../bldg.csv',index=False)

#biz

In [9]:
biz = gpd.read_file(biz_path)

In [13]:
target_crs = 'EPSG:4326'
biz = biz.to_crs(target_crs)

In [14]:
biz['latitude'] = biz.geometry.y
biz['longitude'] = biz.geometry.x

In [15]:
biz_df = biz.drop(columns='geometry')

In [16]:
biz_df.head(10)

,Contact,Company,PriAddr,PriCity,PriSt,PriZip,PriZip4,PriZip10,PriCarRC,PriStCd,...,BookNo,GovSegCd,GovSeg,ForgnPar,ImpExpCd,ImpExp,KeyCode,BLDG_ID,latitude,longitude
0,ROSS SEARS,CRAWFORD LAW FIRM,1200 ROTHWELL ST,HOUSTON,TX,77002,1157,77002-1157,C030,48,...,71123,0,NaN,N,NaN,NaN,Business-Verified,120.0,29.767995,-95.354893
1,BERNARD BOLANOS,BOLANOS BERNARD,1200 ROTHWELL ST # 110,HOUSTON,TX,77002,1157,77002-1157,C030,48,...,71123,0,NaN,N,NaN,NaN,Business-Verified,120.0,29.767995,-95.354893
2,MICHAEL T GUTIERREZ,FIFTH WORLD COLLECTIVE LLC,805 WILLIAM ST # A,HOUSTON,TX,77002,1183,77002-1183,C030,48,...,CDC,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.767795,-95.353593
3,NaN,REF ENTERPRISES LLC,1306 NANCE ST,HOUSTON,TX,77002,1124,77002-1124,C030,48,...,WTH,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.768095,-95.353993
4,KRISTOPH PETROSKY,MEDIA HOUSE LLC,1320 NANCE ST,HOUSTON,TX,77002,1167,77002-1167,C030,48,...,CDC,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.767995,-95.353593
5,LANDO REX-MMASI,RIFT,1310 NANCE ST,HOUSTON,TX,77002,1181,77002-1181,C030,48,...,EPF,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.768095,-95.353993
6,CRAIG A WESTBROOK,LOVE NOTES,1310 NANCE ST # C,HOUSTON,TX,77002,1171,77002-1171,C030,48,...,CDC,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.768095,-95.353993
7,NaN,RENTALS AT RONIN ART HOUSE LLC,1310 NANCE ST # C,HOUSTON,TX,77002,1171,77002-1171,C030,48,...,CCR,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.768095,-95.353993
8,THEODORE REX,THEODORE REX,1302 NANCE ST,HOUSTON,TX,77002,1124,77002-1124,C030,48,...,CDC,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.767795,-95.353993
9,OMAR HERNANDEZ,LOS MUERTOS TATTOO STUDIO,1310 NANCE ST,HOUSTON,TX,77002,1181,77002-1181,C030,48,...,71123,0,NaN,N,NaN,NaN,Business-Verified,188.0,29.768095,-95.353993

In [30]:
biz_df.to_csv('../biz.csv',index=False)

# second

In [1]:
import geojson

In [4]:
dist_list = pd.read_csv('../../../data/1_dist.csv')

In [10]:
dist_list.head(2)

,CUST_ID,schema_id,CUST__NAME,supply_desc,Address Type,CUST_ADDRESS,longitude,latitude
0,2001000,S02,Banyan Foods,food packaging,point_of_sale,"10940 Wilcrest Dr, Houston, TX 77099",-95.568779,29.664062
1,2001001,S02,Houston Calco,food manufacturing,warehouse,"2400 Dallas St, Houston, TX 77003",-95.354057,29.748090

In [11]:
features = []

In [13]:
for index, row in dist_list.iterrows():
    point = geojson.Point((row['longitude'], row['latitude']))
    properties  = {
        'Distributor Name':row['CUST__NAME'],
        'Supplier Specialty': row['supply_desc']
    }
    features.append(geojson.Feature(geometry=point, properties=properties))

feature_collection = geojson.FeatureCollection(features)

In [14]:
geojson_string = geojson.dumps(feature_collection, indent=2)

In [17]:
import pyperclip

In [19]:
pyperclip.copy(geojson_string)